* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #25282A;
}
.container{
    width: 1900px;
    padding: 0 10px;
}
.midle{
    width: 1900px;
    padding: 0 10px;
    margin: 40px auto 0 auto;
    padding: 0 10px;
    position: relative;
}
.slider{
    width: 1200px;
    height: 500px;
    overflow: hidden;
}
.slider-items{
    width: 406%;
    height: 100%;
    display: flex;

}
.slide{
    width: 25%;
    transition: all .6s ease;
}
.slide__img{
    width: 99%;
    height: 80%;
}
.navigation{
    position: absolute;
    bottom: 8%;
    right: -5%;
    transform: translateX(-50%);
    display: flex;
}
.slider__bar{
    width: 15px;
    height: 15px;
    margin: 6px;
    cursor: pointer;
    border: 2px solid #7EAAF8;
    opacity: .5;
    border-radius: 50%;
    transition: all .4s ease;
}
.slide__text{
    padding-top: 20px;
    color: #fff;
    font-size: 24px;
    line-height: 4;
}
.slider__bar:hover{
    opacity: .8;
    transform: scale(1.1);
}
input[name='r'] {
    position: absolute;
    visibility: hidden;
}

#r1:checked ~ .s1 {
    margin-left: 0;
}
#r2:checked ~ .s1 {
    margin-left: -25%;
}
#r3:checked ~ .s1 {
    margin-left: -50%;
}
#r4:checked ~ .s1 {
    margin-left: -75%;
}